@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: rgb(255 255 255);
    --fg: rgb(64 64 64);
    --muted: rgb(229 229 229);
    --prose-width: 65ch;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg: rgb(23 23 23);
      --fg: rgb(212 212 212);
      --muted: rgb(64 64 64);
    }
  }
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--muted) transparent;
  }

  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  ::-webkit-scrollbar-thumb {
    min-width: 32px;
    min-height: 32px;
    background-color: var(--muted);
    background-clip: padding-box;
    border: 5px solid transparent;
    border-radius: 16px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-button,
  ::-webkit-scrollbar-corner {
    display: none;
  }

  ::selection {
    text-decoration-color: var(--bg);
    background: var(--muted);
  }
}

@layer base {
  html {
    font-synthesis: none;
    font-optical-sizing: auto;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    orphans: 3;
    widows: 3;
    -webkit-hyphenate-limit-before: 4;
    -webkit-hyphenate-limit-after: 4;
    -webkit-hyphenate-limit-chars: 8 4 4;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-zone: 8%;
    hyphens: auto;
    hyphenate-limit-chars: 8 4 4;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
  }

  body {
    overflow: hidden scroll;
    line-height: 1.75;
    color: var(--fg);
    background: var(--bg);
  }

  main {
    position: relative;
    max-width: calc(50ch + var(--prose-width));
    min-height: 100vh;
    padding: 10rem 0;
    margin: 0 auto;
  }
}

@layer components {
  .main-grid {
    display: grid;
    grid-template-columns: 20ch var(--prose-width) 20ch;
    column-gap: 5ch;
  }

  .main-grid > * {
    grid-column: 2;
  }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4 {
    @apply font-sans;
  }

  i,
  em,
  blockquote {
    @apply font-serif italic;
  }

  #blog tbody,
  #craft tbody {
    border-block-width: 1px;
    border-block-color: var(--tw-prose-hr);
  }

  #blog td,
  #craft td {
    padding-left: 0;
  }

  .light {
    @apply text-neutral-400 dark:text-neutral-500;
  }

  .light-hover {
    @apply hover:text-neutral-700 hover:dark:text-neutral-300;
  }

  .co code {
    @apply p-0 bg-transparent text-inherit;
  }

  .co code::before {
    content: "`";
  }

  .co code::after {
    content: "`";
  }

  .co-info {
    @apply text-blue-900 bg-blue-100 dark:text-blue-200 dark:bg-blue-900/30;
  }

  .co-info ::selection {
    @apply bg-blue-200 dark:bg-blue-900/60;
  }

  .co-warn {
    @apply text-yellow-900 bg-yellow-100 dark:text-yellow-200 dark:bg-yellow-900/30;
  }

  .co-warn ::selection {
    @apply bg-yellow-200 dark:bg-yellow-900/60;
  }

  .co-error {
    @apply text-red-900 bg-red-100 dark:text-red-200 dark:bg-red-900/30;
  }

  .co-error ::selection {
    @apply bg-red-200 dark:bg-red-900/60;
  }

  @media (width <= 1024px) {
    main {
      padding: 0;
    }

    .main-grid {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .main-nav {
      display: flex;
      align-items: center;
      width: 100%;
      height: 4rem;
      padding: 0 1.25rem;
    }

    article {
      width: 100%;
      padding: 4rem 1.25rem 8rem;
    }
  }

  @media (width >= 1024px) {
    .main-nav {
      position: sticky;
      top: 10rem;
      grid-column: 1;
      height: fit-content;
    }
  }
}
