@tailwind base;
@tailwind components;
@tailwind utilities;

/* color */
@layer base {
  :root {
    --bg: 255, 255, 255;
    --fg: 64, 64, 64;
    --muted: 229, 229, 229;
    --prose-width: 64ch;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg: 23, 23, 23;
      --fg: 212, 212, 212;
      --muted: 64, 64, 64;
    }
  }
}

/* scroll bar and selection */
@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(var(--muted)) transparent;
  }

  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  ::-webkit-scrollbar-thumb {
    min-width: 32px;
    min-height: 32px;
    background-color: rgb(var(--muted));
    background-clip: padding-box;
    border: 5px solid transparent;
    border-radius: 16px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-button,
  ::-webkit-scrollbar-corner {
    display: none;
  }

  ::selection {
    text-decoration-color: rgb(var(--bg));
    background: rgb(var(--muted));
  }
}

@layer base {
  html {
    font-synthesis: none;
    font-optical-sizing: auto;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    orphans: 3;
    widows: 3;
    -webkit-hyphenate-limit-before: 4;
    -webkit-hyphenate-limit-after: 4;
    -webkit-hyphenate-limit-chars: 8 4 4;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-zone: 8%;
    hyphens: auto;
    hyphenate-limit-chars: 8 4 4;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    hanging-punctuation: first last;
  }

  body {
    overflow: hidden scroll;
    line-height: 1.75;
    color: rgb(var(--fg));
    background: rgb(var(--bg));
  }

  main {
    position: relative;
    max-width: calc(60ch + var(--prose-width));
    min-height: 100vh;
    padding: 10rem 5ch;
    margin: 0 auto;
  }
}

@layer components {
  .main-grid {
    display: grid;
    grid-template-columns: 20ch var(--prose-width) 20ch;
    column-gap: 5ch;
  }

  .main-grid > * {
    grid-column: 2;
  }

  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4 {
    font-family:
      var(--font-sans),
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      sans-serif;
  }

  i,
  em,
  blockquote {
    font-weight: 350;

    @apply font-serif italic;
  }

  #blog {
    margin-block-start: -0.75rem;
  }

  #blog tr {
    border: none;
  }

  #blog td {
    padding-left: 0;
  }

  .light {
    @apply text-neutral-400 dark:text-neutral-500;
  }

  .light-hover {
    @apply hover:text-neutral-700 hover:dark:text-neutral-300;
  }

  .co-info {
    @apply text-blue-900 bg-blue-100 dark:text-blue-200 dark:bg-blue-900/30;
  }

  .co-info ::selection {
    @apply bg-blue-200 dark:bg-blue-900/60;
  }

  .co-warn {
    @apply text-yellow-900 bg-yellow-100 dark:text-yellow-200 dark:bg-yellow-900/30;
  }

  .co-warn ::selection {
    @apply bg-yellow-200 dark:bg-yellow-900/60;
  }

  .co-error {
    @apply text-red-900 bg-red-100 dark:text-red-200 dark:bg-red-900/30;
  }

  .co-error ::selection {
    @apply bg-red-200 dark:bg-red-900/60;
  }

  @media (width <= 1024px) {
    main {
      padding: 0;
    }

    .main-grid {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .main-nav {
      position: sticky;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: none;
      margin-top: 6rem;
      background: rgb(var(--bg));
    }

    .main-nav div {
      width: 100%;
      padding: 1rem 1.25rem;
    }

    article {
      width: 100%;
      padding: 4rem 1.25rem 8rem;
    }
  }

  @media (width >= 1024px) {
    .main-nav {
      position: sticky;
      top: 10rem;
      grid-column: 1;
      height: fit-content;
    }
  }
}
